/* Importing Inter and Poppins Fonts  */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styling */

.center{
  text-align: center;
}


/* Nav-bar Styling */
.nav-container{
  width: 1140px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid black; */
}
.search-container{
  width: 400px;
  /* border: 2px solid black; */
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #f1f1f1;
}
.search-container input{
  width: 70%;
  border: none;
  background-color: #f1f1f1;
}
.search-container input:focus{
  outline: none;
}
.other-section ul{
  display: flex;
}
.other-section ul li{
  list-style: none;
  margin-left: 30px;
}
.other-section ul li a{
  text-decoration: none;
  color: black;
}


/* Banner-Section */
.banner-section{
  box-sizing: border-box;
  width: 1240px;
  height: 460px;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 50px;
  background-color: #FEEAE9;
  margin: 64px auto;
  border-radius: 30px;

}
.content{
  width: 560px;
  /* border: 2px solid black; */
}
.title{
  font-size: 50px;
  font-weight: bold;
}
.image{
  width: 400px;
}
.value{
  font-size: 40px;
  color: #ff136f;
  font-weight: bold;
  margin-bottom: 4px;
}
.btn{
  padding: 8px 16px;
  background-color: #ff136f;
  border-radius: 10px;
  color: white;
  border: none;
}
/* .categories-section Styling */
.categories-section{
  /* border: 2px solid black; */
  width: 1140px;
  margin: auto;
  margin-bottom: 50px;

}
.title01{
  font-size: 36px;
  font-weight: 700;
}
.categories{
  width: 1140px;
  /* border: 2px solid black; */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.watch{
  width: 360px;
 display: flex;
 align-items: center;
 justify-content: space-around;
 background-color: #FF9C35;
 border-radius: 30px;
}
.watch p{
  color: white;
  font-size: 36px;
}
.bag{
  background-color: #ff136f;
}
.shoes{
  background-color: blue;
}
/* Styling different-section */
.diiferent-categories{
  width: 98.3vw;
  /* height: 500px; */
  background-color: aliceblue;
  border: 2px solid black;
}

.section-shoes{
  width: 1140px;
  margin: 24px auto 90px;
}

.section-shoes-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-shoes-card{
  box-sizing: border-box;
  width: 360px;
  /* border: 2px solid black; */
  background-color: white;
  padding: 16px;
  border-radius: 20px;
}
.section-shoes-card .title{
  font-size: 24px;
  font-weight: bold;
}
.section-shoes-card .btn001{
  color: white;
  padding: 6px 16px;
  background-color: black;
  border-radius: 10px;
  transition: 0.3s all ease;
}
.section-shoes-card .btn001:hover{
  border: 2px solid aliceblue;
  background-color: rgba(0, 0, 0, 0.384);
}
.section-shoes-card-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid black; */
}
.heading{
  font-size: 36px;
  font-weight: bold;
}
.see-all{
  color: #FF9C35;
}
.section-bag{
  width: 1140px;
  margin: 98px auto;
}